@{
    ViewData["Title"] = "Reports";
}

<h2>Reports</h2>

<div class="list-group">
    <a asp-action="CustomerItemsByItemRange" class="list-group-item list-group-item-action">
        Customer Items by Item Range
    </a>
    <a asp-action="TopItemsByCustomer" class="list-group-item list-group-item-action">
        Top Items by Customer
    </a>
</div>
